.burger {
    @media (max-width: 490px) {
        display: flex;
    }
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 38px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    &-lines {
        border-radius: 3px;
        width: 100%;
        height: 4px;
        background: #000;
        border: 1px solid #000;
    }
}