.gallery {
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  &-heading {
    text-align: center;
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  &-card {
    cursor: pointer;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.08);
    &-img {
      transition: filter 0.2s ease;
      position: relative;
    }
    &:hover &-img {
      filter: brightness(0.85);
      &::before {
        content: "";
        position: absolute;
        background-image: url("../imgs/maximize.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
      }
    }
    &s {
      justify-content: center;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1340px;
    }
    margin: 10px;
    width: 295px;
    @media (max-width: 712px) {
      width: 100%;
      &-content {
        height: 300px !important;
      }
    }
    @media (max-width: 500px) {
      &-content {
        height: 250px !important;
      }
    }
    border: 1px solid #eee;
    border-radius: 8px;
    transition: box-shadow 0.2s ease;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
    &:hover {
      box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    }
    &-title-wrapper {
      padding: 15px;
      display: flex;
      font-size: 18px;
      align-items: center;
      justify-content: space-between;
      transition: background 0.2s ease;
    }
    &-line {
      width: 94%;
      height: 1px;
      margin: 0 auto;
      background-color: #eee;
      transition: background 0.2s ease, width 0.2s ease;
    }
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      height: 200px;
      transition: background 0.2s ease;
    }
    &-text {
      transition: color 0.2s ease;
    }
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px 5px 0 0;
    }
    &--dark {
      .gallery-card-title-wrapper {
        background: #212121;
      }
      .gallery-card-line {
        background-color: #444;
        width: 100%;
      }
      .gallery-card-content {
        background-color: #212121;
      }
      .gallery-theme-toggler {
        background-color: #323538;
        background-image: url("../imgs/sun.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        &:hover {
          background-color: #44474b;
          background-image: url("../imgs/sun.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .gallery-card-text {
        color: #fff;
      }
    }
  }
  &-theme-toggler {
    background-color: #e8f5ff;
    background-image: url("../imgs/moon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
    border: 0;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition: background 0.2s ease;
    &:hover {
      background-color: #d4e8f7;
      background-image: url("../imgs/moon.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
