#quiz {
	font-family: sans-serif;
	color: #212121;
	width: 270px;
	margin: 0 auto;
}
.question {
	font-weight: 600;
	margin-top: 10px;
	font-size: 18px;
}
.answers {
	margin-bottom: 30px;
	label {
		display: block;
		background: #eee;
		margin: 10px 0;
		padding: 10px;
		border-radius: 8px;
		cursor: pointer;
		font-size: 16px;
	}
}

.submit-center {
	display: flex;
	justify-content: center;
}

#submit {
	width: 270px;
	padding: 12px 0;
	background: #212121;
	border-radius: 8px;
	font-size: 18px;
	color: #ffffff;
	transition: background 0.2s ease, color 0.3s ease;
	border: none;
	cursor: pointer;
	&:hover {
		background-color: #f3ac42;
	}
}

#results {
	text-align: center;
	width: 300px;
	margin: 50px auto;
	hr {
		margin: 10px 0;
	}
}

.about {
	&-heading {
		text-align: center;
		width: 80vw;
		margin: auto;
		margin-top: 40px;
		font-size: 28px;
	}
	&-par {
		width: 60vw;
		text-align: center;
		font-size: 24px;
		margin: 30px auto;
	}
}
